<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class = "navigation">
        <nav>
          <ul>
      <li><a href = "/">Home</a> </li>
      <li><a href = "/signup">Sign Up</a></li>
          <li><a href = "/login">Login</a></li>
      </ul></nav>
      </div>
      <h1 class = "title"> <a href="/"> <%= title %> </a> </h1>
    </header>
    <%- body -%>

    <footer>
      <p class = "footLove"> Made with &hearts; at Ironhack. </p>
    </footer>
  </body>
</html>
